@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html{
    scroll-behavior: smooth;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    color: rgb(121, 121, 121);
    font-size: 15px;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}
a{
    text-decoration: none;
}
.tb{color:#412800}
.tw{color:#fff}

/*==============================CURSOR======================*/
@media ( hover: none ) {

    .cursor {
    
      display: none !important;
      
      }
    }
  
  * {
  
    cursor: none;
    
    }
  
  .cursor {
  
    --size: 10px;
    
    height: var( --size );
    width: var( --size );
    
    border-radius: 50%;
    pointer-events: none;
    position: absolute;
    transform: translate( -50%, -50% );
    z-index: 99999999999;
    
    }
  
  .cursor.cursor-dot {
  
    background: red; /* This defines the color of the cursor */
    transition: width 0.4s, height 0.6s, background-color 0.2s;
    transition-timing-function: ease-out;
    
    }
  
  .cursor-dot.active {
  
    --size: 30px;
    border-radius: 100%;
    border: 1px solid black;
    background-color: transparent;
    
    }
    .cursor-dot.sparito{
        display: none;
    }

/*==============================SCROLLBAR======================*/

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffc916;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /*==============================preloader======================*/
.preload{
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #00aced;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity  0.5s ease;
}
.cloud1, .cloud2, .cloud3{
  height: 100px;
 position: absolute;
 right: 0%;
}

.cloud1{
top: 25%;
transform: translate(100%, -25%);
animation: clouds 3s ease infinite;
}
.cloud2{
top: 50%;
transform: translate(100%, 50%);
animation: clouds 3s ease infinite 2s;


}
.cloud3{
top: 75%;
transform: translate(100%, -75%);
animation: clouds 3s ease infinite 1s;


}
.plane{
 height: 200px;
 animation: airplane 1s ease infinite alternate;
}
.preload h3{
  position: absolute;
  color: #fff;
  top: 75%;
  transform: translateY(-75%);
  font-size: 50px;
}
.preload-finsh{
  opacity: 0;
  pointer-events: none;
}
@keyframes airplane{
  from{
    transform: translateY(0px);
  }
  to{
    transform: translateY(50px);
  }
}
@keyframes clouds{
  from{
    right: 0%; 
}
to{
  right: 130%;
}
}
/*==============================NAV======================*/
nav{

    position: sticky;
   z-index: 99;

    width:100%;
    height: 5vh;
    display: flex;
    background: rgb(255,201,22);
    background: linear-gradient(261deg, rgba(255,201,22,1) 31%, rgba(0,0,0,1) 100%);
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid #000;
    padding: 1rem 1.5rem;
    transition: all ease-in-out 0.4s;

}
.logo { 
  visibility: hidden;
    left: 0;
    display:flex;
    position:relative;
    margin-right: 35%; 
    transition: all ease-in-out 0.4s;
    animation: fadeOut;

    
}
.logo:hover{
  transform: rotate(360deg);
}

.mint{
  color: gray;
}
nav li{
    display: inline-flex;
    color: #412800;
    padding: 24px 10px;
}

nav img{
  
    border-radius: 50%;
    object-fit: cover;
    height: 30px;
    width: 30px;
}
nav li img{
    width: 20px;
    height: 20px;
}

nav li a {
    color: #412800;
    text-transform: uppercase;
 
 
}

nav li a:hover{
text-decoration: underline;

}

nav .activen{
 text-decoration: overline;
    border-radius: 15px;
}
.fixed{
  background-image: linear-gradient( 135deg, #ffc916 10%, #F8D800 100%);;
opacity: 0.95;
    position: fixed;
    top: 0;
    width: 100%;
   left: 0;
   right: 0;
   color: #000;
    height: 50px;
    z-index: 1;
    transition: all ease-in-out 0.45s;

}
.fixed .logo{
  visibility: visible;
}
.fixed .logo img{
    height: 50px;width: 50px;
    transition: all ease-in-out 0.5s;
    
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}


  @media only screen and (max-width: 768px) {
   .nav-menu {
        position: fixed;
      display: flex;
      left: -100%;
        top: 4rem;
        flex-direction: column;
        background-color: #ffc916;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
          }
          .nav-img{
            flex-direction: row ;
          }
        .fixed .logo img{
            height: 30px;width: 30px;
            transition: all ease-in-out 0.5s;}

            .hamburger  {
              display: block;
              cursor: pointer;
          }
          .nav-item {
            margin:0 2.5rem ;
        }
          .responsiveNav {
           left: 0;
        }
        .hamburger.responsiveNav .bar:nth-child(2) {
          opacity: 0;
      }
  
      .hamburger.responsiveNav .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
      }
  
      .hamburger.responsiveNav .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
      }
  
      
    }    
/*==============================SECTION======================*/

section{
 
   
    width: 100%;
    overflow: hidden;
   justify-content: center;

    display: flex;
   
  

}
/*==============================HERO======================*/

#screen1{
 display: none;
    position: sticky;
height: 95vh; 
display: flex;
align-items: center;
justify-content: center;



}
.heroresp{
  display: none;
}
.hero-bg{
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to right bottom, #FFC917, #397b5f);
  border-image-slice: 1;
    border-radius: 15px;
  max-width: 95%;
  max-height: 90%;
  z-index: -10;
  position: sticky;
  
}
.heroimg{
  height: 100%;
  width: 100%;
  position: relative;
display: flex;
object-fit: cover;
}
.heroimg img{
  width: 100%;
  height: 100%;
}


.heroimg1, .heroimg2{
    animation: fadeOut  1s ease-in-out;
    height: 100%;
    width: 100%;
   display: flex;
  position: absolute;
  justify-content: flex-end;  ;object-fit: cover; right: 0;
}
.heroimg2,.heroimg2{   height: 100%;
    width: 100%;  bottom: 0;
}
.heroimg1 img, .heroimg2 img
{
  max-width: 100%;max-height: 100%;
  
}

 .hero-content{
  
height: 100%;
max-width: 200px;
margin-top: 20%;


} 

.herocontent-img{ height: 100%;width: 100%;}
@keyframes fadeOut {
    0% {
        opacity: 0; 
    }
    25% {
        opacity: 0.2; 
      }
      50% {
        opacity: 0.5;
      }
      75% {
        opacity: 0.72;
      }
   100% {
      opacity: 1;
    }
  }
  @media only screen and (max-width: 667px){
  #screen1{
    height: 95vh;
  }
    .heroresp{
      
      width: auto;
     height: 100%;
      display: flex;
      object-fit: contain;
      object-position: center;

      
    }
    .heroresp1{
     width:auto;
      max-height: 90%;
      z-index: 3;
      left: 0;
      bottom: 0;
      position: absolute;
      
    }
    .heroresp2{
      z-index: -1;
      width: auto;
      height:  95vh;
      object-fit: cover;
    }
    .heroresp3{
      width:auto;
      max-height: 50%;
    top: 30%;
      left: 0;
      position: absolute;
      
    }
    .hero-content{
      position: absolute;
    }
    .heroimg1 , .heroimg2
    {
      
      display: none;

      
    }
    .heroimg2 img{
      display: none;
      
    }
  }
  /*==============================ABOUT======================*/
  #screen2{position:relative;
     display:flex;
   padding-top:  50px;
   padding-bottom:  50px;

   height: 100%;
}
.story{
    width: 60%;height: 100%;
    display: flex; 
    position: relative;
   flex-direction: column;
 
}
.story h1{
    font-size: x-large;
}
.story p{
    font-size: larger;
}

  /*==============================BENEFITS======================*/
#screen3{
    height: 100%;
    background: #000;
    padding:  50px 5px;
    display: flex ;
    flex-direction: column;
    align-items: center;
    
}
#screen3 a {
  color:whitesmoke;
  text-decoration: underline;
}
.wptitle{
    font-size: xx-large;width: 100%; height: 20%;
}
.benefits{
    width: 90%;
    height: 80%;
padding: 0 10px;


}
.benefits-card{

    width: 80%;
height: 100%;
margin: 1% auto;
display:flex;
align-items: center;
float: left;
border-bottom: 2px solid #ffc916;


}
.br{
  flex-direction: row-reverse;
  float: right;
 
border-bottom: 2px solid #ffc916;
}


.benefits-card-img{

    height: 100%;
    width: 33%;
    object-fit: contain;
    display: flex;
    margin: 2%;
animation: infinite;
  
  }
.benefits-card img{
    width: 150px;
    height: 150px;


}
.benefits-card-text{
    width: 66%;
    height: 100%;
    padding: 10px;
}
.benefits-card-text h2{
    margin-bottom: 10px;
    font-size: x-large;
}
@media only screen and (max-width: 768px){
  .benefits-card img{
    width:90px;
    height: 90px;}
  .benefits-card{
    width: 100%;
  } 
}
  /*==============================CAROSELLO======================*/
  #screen2-5 {
    margin-top: 25px;
    height: 50vh;
    width: 100%;
    padding: 10px;
  }
  .main-carousel{
width: 100%;
height: 100%;
}
.carousel-cell{
  height: 100%;
  max-width: 45%;
  object-fit: cover;
  display: flex;
  margin-right: 10px;

}
.carousel-cell img{
  border-radius: 8px;

}


@media only screen and (max-width: 768px){
  #screen2-5{
    height: 100%;
    width: 100%;
  
  }
  .carousel-cell{
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    display: flex;
    margin-right: 10px;
  
  }
  .carousel-cell img{
    width: 150px;
    height: 150px;
  }
}

  /*==============================ROadmap======================*/
#screen4{
    background-color: #fff;
    padding:  50px 0;
height: 100%;
flex-direction: column;
}
#screen4 a {
  color:whitesmoke;
  text-decoration: underline;
}
  .rmtitle h1{
    font-size: xx-large;
}
.rmtitle h2, .rmtitle p{
  font-size: x-large;
}
/* Timeline Container */
.timeline {
  background: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
}

/* Outer Layer with the timeline border */
.outer {
  border-left: 2px solid #333;
}

/* Card container */
.card {
  position: relative;
  margin:  20px 20px;
  padding: 15px;
  background: #333;
  color: gray;
  border-radius: 15px;
  max-width: 800px;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Title of the card */
.title {
  color: #ffc916;
  position: relative;
  font-size: x-large;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  left: -44px;
  border: 3px solid orangered;
}
.info p{
  color:#fff;
  font-size: larger
}
.card1 {
  position: relative;
  margin:  20px 20px;
  padding: 15px;
  background: #fff;
  color: #000;
  border-bottom:  2px solid  #000;
  max-width: 800px;
}
.title1{
  font-size: x-large;
}
/* Title of the card */
.title2 {
  color: #ffc916;
  position: relative;
  font-size: x-large;
}

/* Timeline dot  */
.title2::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 999px;
  left: -44px;
  border: 3px solid greenyellow;
}

  /*==============================COLLAB======================*/

    #screen5{
       flex-direction: column;
       width: 100%;height: 100%;
padding: 50px 0;
align-items: center;
display: flex;

        }
    .collab h1{
        width: 100%;
        font-size: xx-large;
text-transform: uppercase;
 
        margin:2% 0px;

    }
    .collab strong{
      color: rgb(144, 145, 221);
    }
    .partner{
      width: 80%;
      padding: 20px 0;
   display: inline-flex;
      border-radius: 15px;
     
      flex-wrap:wrap;
      justify-content: center;
      -webkit-box-shadow: 2px 5px 16px 0px rgb(144, 145, 221) 5px 5px 15px 5px rgba(0,0,0,0); 
      box-shadow: 2px 5px 16px 0px rgb(144, 145, 221), 5px 5px 15px 5px rgba(0,0,0,0);
    }
    .sponsor{
      height: 120px;
      width: 120px;
      margin: 2%;
      border-radius:15px;
      object-fit: contain;
    }
    .sponsor img{
      object-fit: contain;
      border-radius: 15px;
      height: 120px;
      width: 120px;
    }
    .sponsor:hover, .sponsor img{
opacity: 0.9;    }

.partner2{
  overflow: hidden;
  font-size: x-large;
  padding: 0;
  margin:50px 0 30px 0 ;
  display:flex;
  justify-content: center;
  align-items: center;
 flex-direction: inline-flex;
  flex-wrap: wrap;
  background-color: grey;
  color: #000;
  padding-right: 15px;

}
.partner-line{
  width: 100%;
  background-color: #ffc916;
}

.partner2-img {
width: 33.333333%;
height: 100%;

}
.partner2-img img{
height: 100%;
width: 100%;
}
.partner2-text{
  width: 66.666%;
  height: 100%;

  
}
.partner2 button{
  margin: 40px 0;
  padding: 8px 12px;
  font-size: large;
  letter-spacing: .7px;
  border-radius: 7px;
  border: 3px solid #000;
  color: #000;
  background-color: #ffc916;
}
.partner2 button:hover{
  border: 3px solid #ffc916;
  background: #000;
  color: #ffc916;
  border-radius: 4px;
 
}
@media only screen and (max-width: 768px){
  .sponsor img{
    width: 100px;height: 100px;
  }
  .partner2{
    flex-direction: column-reverse;
    margin-top: 0;
  }
  .partner2-text{margin: 25px 0 0 0;

  }
  .partner2-img {
    position: relative;
width: 350px;
    height: 350px;

    
    }
    .partner2-img img{
    height: 100%;
    width: 100%;
    }
}
    /*========================FAq SECTOIN=======================*/
  

#screen6{
  margin: 0;
}
.faq{height: auto;width: 100%;


}
.container h1{
  font-size: 5em;
}
.container {
  padding: 200px;color: #000;
 }
 
 .faq-drawer {
   margin-bottom: 30px;
 }
 
 .faq-drawer__content-wrapper {
   font-size: 1.25em;
   line-height: 1.4em;
   max-height: 0px;
   overflow: hidden;
   transition: 0.25s ease-in-out;
 }
 
 .faq-drawer__title {
   border-top: #000 1px solid;
   cursor: pointer;
   display: block;
   font-size: 1.25em;
   font-weight: 700;
   padding: 30px 0 0 0;
   position: relative;
   margin-bottom: 0;
   transition: all 0.25s ease-out;
 }
 
 .faq-drawer__title::after {
   border-style: solid;
   border-width: 1px 1px 0 0;
   content: " ";
   display: inline-block;
   float: left;
   clear: right;

   height: 10px;
   left: 2px;
   position: relative;
   right: 20px;
   top: 2px;
   transform: rotate(135deg);
   transition: 0.50s ease-in-out;
   vertical-align: top;
   width: 10px;
 }
 
 /* OPTIONAL HOVER STATE */
 .faq-drawer__title:hover { 
   color: #555  ;letter-spacing: .1px;
 }

 .faq-drawer__trigger:checked
   + .faq-drawer__title
   + .faq-drawer__content-wrapper {
   max-height: 400px;
 }
 
 .faq-drawer__trigger:checked + .faq-drawer__title::after {
   transform: rotate(-45deg);
   transition: 0.25s ease-in-out;
   color: #000;
 }
 
 input[type="checkbox"] {
   display: none;
 }
 
 @media only screen and (max-width: 760px) {
   .container {
     padding: 80px;
   }
 }

 /*===========================TEAM=================*/

 #screen7{
   height: 100%;
   width: 100%;
  
   padding: 90px 0px;
 
 }
 #screen7 h1{
   text-transform: uppercase;
   font-size: xx-large;
   margin: 1%;
 }
 .team{

   height: 100%;
   width: 90%;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   border: 1px solid #000;
   border-radius: 15px;
   flex-wrap: wrap;
   -webkit-box-shadow: 2px 5px 16px 0px #ffc916 5px 5px 15px 5px rgba(0,0,0,0); 
   box-shadow: 2px 5px 16px 0px grey, 5px 5px 15px 5px rgba(0,0,0,0);


 }
 .team-card{
   height:300px;
   width: 220px;
   margin: 10px;
   padding: 10px;
   border-radius: 15px;
   text-align: left;
   border: 1px solid #000;

  
 }
 .team-card hr{
   width: 75%;background-color: #ffc916;
 }
 .team-card-img{
   height: 200px;
   width: 200px;
 object-fit: contain;
 
 }
 .team-card-img img{
  height: 200px;
   width: 200px;
   border-radius: 15px;

 }
.team-card-content{
  margin: 5px 0 ;
  color: #000;
}
.team-social{
  height:25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}
.team-social img{
  height: 25px;
  width: 25px;
 
}

/*============================SOCIAL2==============*/


.social2{
  font-size: xx-large;
  margin: 3%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;


}
.partner-line{
  width: 100%;
}

.social2 ul {

  margin: 10%;
  display:flex;
  justify-content: center;
}

.social2 ul li {
  list-style: none;
}
.social2 ul li a img{
  width: 100%;
  height: 100%;
}
.social2 ul li a {
  position: relative;
  width:60px;
  height:60px;
  display:flex;
  text-align:center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}

.social2 ul li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration:none;
}

.social2 ul li a .fab {
  width: 100%;
  height:100%;
  display:block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size:24px;
  color: #262626;
  transition: .5s;
}

.social2 ul li:nth-child(1) a:hover .fab {
  color: #3b5998;
}

.social2 ul li:nth-child(2) a:hover .fab {
  color: #00aced;
}

.social2 ul li:nth-child(3) a:hover .fab {
  color: #dd4b39;
}

.social2 ul li:nth-child(4) a:hover .fab {
  color: #007bb6;
}

.social2 ul li:nth-child(5) a:hover .fab {
  color: #e4405f;
}
/*============================FOOTER==============*/
footer{height: 100%;
 margin: 10px;

}